<h1>New Group</h1>

<%= render 'form', group: @group %>

<%= link_to 'Back', groups_path %>


<div class="row text-center">
  <%= form_for(Group.new, remote: true) do |f| %>
    <div class="large-10 large-centered columns">
      <%= f.text_field :leader, placeholder: "Leader name" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_area :content, placeholder: "Your Group", rows: 5 %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Group", class: "button"%>
    </div>
  <% end %>
</div>

