
<!--------------------------------------------------------------------->


<!DOCTYPE HTML>
<html>
	<head>
	    <%= stylesheet_link_tag "group_main" %>
		<title>Collabo by SFU</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--<link rel="stylesheet" href="assets/css/group_main.css" /> -->
	</head>
	<body class="is-loading">
			<div id="wrapper" class="fade-in">
					<header id="header">
					    <div class = "logo"><%= link_to('Collabo', root_path) %></div>
					</header>

					<div id="main">
							<article class="post featured">
								<header class="major">
									<h2>Groups <div class = "button"><%= link_to('Create New Group', new_group_path)%></div></h2>
								</header>
							</article>

							<section class="posts">
							  <!------------------------------------------------------->
							  <%i= 0%>
							  <% @groups.each do |group| %>
							    <%i = i + 1%>
							    <%i = i%7%>
  								<article>
  									<header>
  									    <h2><%= link_to("#{group.group_name}", "groups/#{group.id}")%></h2>
  									</header>
  									<div class="image fit"><%= image_tag("gl00#{i}.jpg", :alt=>"", :size =>"480x360")%></div>
  									<p><%= group.group_info %></p>
  									<ul class="actions">
  									  <li><div class = "button"><%= link_to("Learn More", "groups/#{group.id}")%></div></li>
  									</ul>
  								</article>
								<% end %>
								<!------------------------------------------------------->

							</section>
<!--
							<footer>
								<div class="pagination">
									<a href="#" class="previous">Prev</a
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>
-->
					</div>

					<div id="copyright">
						<ul><li>&copy; Collabo by SFU</li></ul>
					</div>

			</div>

	</body>
</html>