<!DOCTYPE HTML>
<html>
	<head>
		<title>Collab Group Name</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	    <%= stylesheet_link_tag "group_main" %>
	    <%= stylesheet_link_tag "noscript" %>
	</head>
	<body class="is-loading">

			<div id="wrapper">

					<header id="header">

						<div class = "logo"><%= link_to("#{@groups.group_name}", groups_path)%></div>
					</header>

					<div id="main">

							<section class="post">
								<header class="major">
									<h1><%= @groups.group_name %><br />
									</h1>
								</header>
								<div class="image main"><%= image_tag("gl00#{rand(6)}.jpg", :alt=>"")%></div>
								<p><h3>Number of Members: <%= @groups.member_count %></h3></p>
								<p><h3>Created: <%= time_ago_in_words(@groups.created_at)%> ago</h3></p>
								<p><h3>Leader:<%=User.find(@groups.leader_id).username%></p></h3>
								<p><h3>Group Members:
								  <% @groupmem.each do |groupmembers| %>
                    <tr>
                      <% user = groupmembers.user_id%>
                      <% actualuser = User.find(user) %>
                      <li><%= actualuser.username %></li>
                    </tr>
                  <% end %>
								</p></h3>
								<p><h3>Group Info:</h3><%= @groups.group_info%></p>
							</section>
            
            <section>
							<ul class="actions" align="center">
								<% if GroupUser.exists?(group_id: @groups.id, user_id: current_user.id)%>
								<li><div class = "button"><%= link_to('Make a Post', :controller => :posts, :action => :new , :id => @groups.id) %></div></li>
								<li><div class = "button"><%= link_to('Edit', edit_group_path(@groups))%></div></li>
								<li><div class = "button"><%= link_to('Leave', leave_group_path(@groups))%></div></li>
								<li><div class = "button"><%= link_to('Destroy', @groups, method: :delete, data: { confirm: 'Are you sure?' })%></div></li>
              	<%else%>
								<li><div class = "button special big"><%= link_to('Join', join_group_path(@groups)) %></div></li>
              	<% end %>
              </ul>
						</section>
					</div>

					<div id="copyright">
						<ul><li>&copy; Collabo by SFU</li></ul>
					</div>

			</div>

	</body>
</html>

