<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- user info below -->
  <div class="field">
    <%= f.label :about_info %>
    <%= f.text_field :about_info %>
  </div>

  </br>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  
  </br>

  <div class="field">
    <%= f.label :skills %>
    <%= f.text_field :skills %>
  </div>
  
  </br>

  <div class="field">
    <%= f.label :github %>
    <%= f.text_field :github %>
  </div>
  
  </br>

<!-- user info above -->


<!-- Account Info below -->
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  </br>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  </br>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  </br>
<!-- Account Info Above -->


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>