<h1>Editing User</h1>

<%= link_to 'Show', edit_user_registration_path %> |
<%= link_to 'Back', profile_path %>

<%= render 'form', user: @user %>

<%= link_to 'Show', edit_user_registration_path %> |
<%= link_to 'Back', profile_path %>
