<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-inverse">
        <thead class="thead-inverse">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <p> current_user.username: <%= current_user.username %></p>
    <p> current_user.email: <%= current_user.email %></p>
  </div>
  <div class="row">
    <% current_user.attributes.each do |key,value| %>
      <p><%= key %>: <%= value %></p><br>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New User', new_user_path %>
