<h1>New User</h1>

<%= form_for :user do |f| %>
<!-- Account Info below -->
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  </br>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  </br>
   <div class="field">

   <%= f.fields_for :spec do |c| %>
   		<%= c.check_box :is_Admin %>
   		<%= c.label :is_Admin, "Is this an Admin Account?" %>
   <% end %>
  </div>
  </br>
<!-- Account Info Above -->


  <div class="actions">
 <%= f.submit "Save changes" %>
  </div>

<% end %>

<%= link_to 'Back', users_path %>

