<!DOCTYPE HTML>
<html>
	<head>
	    <%= stylesheet_link_tag "profile" %>
		<title>Collabo Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="assets/css/profile.css" /> 
					<a href="#" class="image avatar"><img src="images/avatar00.jpg" alt="" /></a>
					-->
	</head>
	<body id="top">

			<header id="header">
				<div class="inner">
					<!-- <div class = "image avatar"><%= image_tag("avatar00.jpg", :alt=>"")%></div> -->
                    <h1><strong><%=current_user.username %></strong></h1><br />
				</div>
			</header>

			<div id="main">

					<section id="one">
						<header class="major">
							<%= grav_pic(current_user)%>
							<h2><%= current_user.username%>'s Profile Page <br /></h2>
							<div></div>
							<div class = "button"><%= link_to 'Groups', groups_path%></div>
							<div class = "button"><%= link_to 'Edit', edit_user_registration_path(current_user) %></div>
							<div class = "button"><%= link_to('Logout', destroy_user_session_path, method: :delete)%></div>
						</header>
						<ul>
                            <li>Username: <%= current_user.username%></li>
                            <li>Email: <%= current_user.email%></li>
                            <li>Account Created: <%= time_ago_in_words(current_user.created_at) %> ago</li>
                        </ul>
						<ul class="actions">
							<li><a href="#three" class="button">Contact Me</a></li>
						</ul>
					</section>

					<section id="two">
						<h2>Current Groups</h2>
						<div class="row">
							<% i = 0%>
							<% @groups_of_user.each do |groups|%>
							<% i = i + 1%>
							<% i = (i % 4) + 1%>
							<article class="6u 12u$(xsmall) work-item">
							    <div class = "image fit thumb"><%= image_tag("00#{i}.jpg", :alt=>"") %></div>
								<h3><%= link_to("#{Group.find(groups.group_id).group_name}", "groups/#{Group.find(groups.group_id).id}") %></h3>
								<p><%= Group.find(groups.group_id).group_info%></p>
							</article>
							<% end %>
						</div>
						<ul class="actions">
							<li><div class = "button"><%= link_to 'See all Collabs', groups_path%></div></li>
						</ul>
					</section>

					<section id="three">
						<h2><%= current_user.username %>'s Posts </h2>
						<div class="row">
						
					</section>

					<section id="four">
						<h2>Get In Touch</h2>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
							
						</div>
					</section>

	
			</div>

	</body>
</html>