<div class ="row text-center">
<%= form_for(Post.new, remote: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <% if @require_group_id == true %>
  <!-- this needs to become a drop down menu bar -->
  <div class="field">
    <%= f.label :group %>
    <%= f.text_field :group_id, placeholder: "Group" %>
  </div> 
  <!-- this needs to become a drop down menu bar/ -->
  <% end %>

  <div class="field">
    <%= f.label :post %>
    <%= f.text_area :post, placeholder: "Your Post", rows: 6 %>
  </div>

<% if false %>
<!--
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :all_tags, placeholder: "Tags are separated with a comma" %>
  </div>
-->
<% end %>

<%= f.hidden_field :group_id, value: @group_id %>
<%= f.hidden_field :user_id, value: current_user.id %>



  <div class="actions">
    <%= f.submit "Post", class: "button" %>
  </div>
<% end %>
</div>
