<!DOCTYPE html>
<html>
  <head>
    <title>Collabo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('jquery.min.js') %>
    <%= javascript_include_tag('jquery.scrollex.min.js') %>
    <%= javascript_include_tag('jquery.scrolly.min.js') %>
    <%= javascript_include_tag('skel.min.js') %>
    <%= javascript_include_tag('util.js') %>
    <%= javascript_include_tag('main.js') %>    
  </head>

  <body <%= yield(:body_attributes) %>>
  
  <%= render partial: "shared/navbar" unless @disable_nav %>
  <%= render "layouts/header" %>
<!--
  	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>
-->

    <%= yield %>
  

  </body>
    
</html>
