<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <% if @disable_nav != true %>
    <%= render partial: "shared/navbar" %>
  <% end %>
  <% if false %>
  <!-- <p>@disable_nav: <%= @disable_nav %> //if nothing then false </p>
  <p>user_signed_in?: <%= user_signed_in? %></p> -->
  <% end %>
    <%= yield %>

  </body>
</html>
